<!DOCTYPE html>
<html>
<head>
  <title>Hungr</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

 <div id="current-user-id"><%= current_user.id %></div>

 <div class="cd-overlay-nav">
    <span></span>
  </div>

  <div class="cd-overlay-content">
    <span></span>
  </div>

 <nav>
  <ul class="cd-primary-nav">
      <li><a href="#_=_">See people</a></li>
      <li><a href="#networks">Add more people</a></li>
      <li><a href="#status">Change Hungr</a></li>
      <li><a href="#users/<%= current_user.id %>">My profile</a></li>
      <li><a href="/logout">Leave Hungr</a></li>
    </ul>
  </nav>

  <a href="#menu" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>


 <div id="mainContainer">
   
 </div>

<!-- ========== HOME PAGE HEADER ======== -->
<script id="header-template" type="text/mustacheTemplate">
<h2 style="text-align: center;" class="animated bounceInDown">Welcome back</h2>
<div class="blank3"></div>
  <a href="#users/<%= current_user.id%>"><h1 style="color: tomato" class="animated flipInX"><%= current_user.name %></h1></a>
  <div class="blank"></div>
  <h2 style="text-align: center;" class="animated bounceInRight">Your Hungr now is: </h2>
  <div class="blank3"></div>
  <div class="statusContainer">
  <img class="statusImg" src="{{ image_url }}">
    <h1 style="color: #ffb441; font-style: italic;" class="statusImg animated tada">{{ status }}</h2>
  <img class="statusImg" src="{{ image_url }}">
  </div>
    <div class="blank3"></div>
  <a style="text-align: center;" href="#status"><h2 class="animated flipInX" style="color: tomato background-color: black;">Choose a different Hungr</h2></a>
  <div class="blank"></div>
    <div class="contact-list-div">
    <h1 class="animated bounceInUp">Your friends<h1>
      <ul class="contact-list-ul" id="listArea">       
      </ul>
    </div>
</script>

<!-- ========== HOME PAGE FRIEND LIST/MENU ITEMS ========== -->
<script id="contact-item-template" type="text/mustacheTemplate">
  <a href="#users/{{ id }}"><div class="rowzz"
    <img class="contact-list-li-p li-img" src="http://lorempixum.com/100/100/nature/1" >
    <h3 class="contact-list-li-p">{{ name }}</h3>
    <p class="contact-list-li-p">wants {{ status }}</p>
    <p class="contact-list-li-p" style="color: cornflowerblue; size: 0.5em">about 200 metres away</p></div>
  </a>
</script>

<!-- =========== MAIN MENU =========== -->
<script id="main-menu-template" type="text/mustacheTemplate">
  <nav>
  <ul class="cd-primary-nav">
      <li><a href="#_=_">See people</a></li>
      <li><a href="#networks">Add more people</a></li>
      <li><a href="#status">Change Hungr</a></li>
      <li><a href="/logout">Leave Hungr</a></li>
    </ul>
  </nav>
</script>

<!-- =========== UPDATE STATUS PAGE =========== -->
<script id="change-status-template" type="text/mustacheTemplate">
  <main class="cd-content">
  <h2 style="text-align: center;" class="animated bounceInDown">Welcome back</h2>
<div class="blank3"></div>
  <h1 style="color: tomato" class="animated flipInX"><%= current_user.name %></h1>
    <div class="cd-intro">
      <h1 style="color:black;" class="animated bounceInLeft">What&#39s your</h1>
    </div>
    <p>
      <div class="mainContainer">
        <div class="blank"></div>
        <div class="icon animated wobble">Hungr
          <ul class="menu" id="listArea">       
          </ul>
        </div>
      </div>
    </p>
    <div class="blank2"></div>
    <div class="center"></div>
    <h1 class="css3-notification qMark">?</h1>
    <div class="blank3"></div>
    <h2 style="color: #ffb441; text-align: center;  font-style: italic" class="animated bounceInRight">Select the food you need</h2>
  </main>
</script>

<!-- =========== STATUS CHANGE MENU ITEMS =========== -->
<script id="status-item-template" type="text/mustacheTemplate">
  <a class="unit" href="/app#friends"><img class="menuItem" src="{{ image_url }}">{{ name }}</a>
</script>
 
<!-- ========== PROFILE PAGE HEADER ======== -->
<script id="profile-template" type="text/mustacheTemplate">
<h2 style="text-align: center;" class="animated bounceInDown">Welcome back</h2>
<div class="blank3"></div>
  <a href="#users/<%= current_user.id%>"><h1 style="color: tomato" class="animated flipInX"><%= current_user.name %></h1></a>
  <div class="blank"></div>
  <h2 style="text-align: center;" class="animated bounceInRight">Your Hungr now is: </h2>
  <div class="blank3"></div>
  <div class="statusContainer">
  <img class="statusImg" src="{{ image_url }}">
    <h1 style="color: #ffb441; font-style: italic;" class="statusImg animated tada">{{ status }}</h2>
  <img class="statusImg" src="{{ image_url }}">
  </div>
    <div class="blank3"></div>
  <a style="text-align: center;" href="#status"><h2 class="animated flipInX" style="color: tomato background-color: black;">Choose a different Hungr</h2></a>
  <div class="blank"></div>
    <div class="contact-list-div">
    <h1 class="animated bounceInUp">Your friends<h1>
      <ul class="contact-list-ul" id="listArea">       
      </ul>
    </div>
</script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

  <%= javascript_include_tag 'spa_manifest', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

<script></script>

</body>
</html>

  